<style>
  .checkmark {
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgb(25, 108, 175);
    border: 1px solid rgb(25, 108, 175);
    border-radius: 50%
}
</style>
<div class="card">
  <h4 class="card-header" style="color: rgb(25, 108, 175);">Registracija</h4>
  <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
              <label for="name">Ime in priimek</label>
              <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" />
              <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                  <div *ngIf="f['name'].errors['required']">Ime in priimek je obvezen!</div>
              </div>
          </div>
          <div class="form-group">
              <label for="email">Email</label>
              <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
              <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                  <div *ngIf="f['email'].errors['required']">Email je obvezen!</div>
              </div>
          </div>
          <div class="form-group">
              <label for="password">Geslo</label>
              <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
              <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                  <div *ngIf="f['password'].errors['required']">Geslo je obvezno!</div>
                  <div *ngIf="f['password'].errors['minlength']">Geslo mora vsebovati vsaj 6 znakov!</div>
              </div>
          </div>
          <div class="form-row">
            <div class="form-group col">
              <label [for]="0">Pedagog
                <input type="radio" formControlName="type" class="form-control checkmark" [value]="0" [ngClass]="{ 'is-invalid': submitted && f['type'].errors }"/>
                </label>
                <br>
                <label [for]="1"> Učenec
                <input type="radio" style="size: 10px;" formControlName="type" class="form-control checkmark" [value]="1" [ngClass]="{ 'is-invalid': submitted && f['type'].errors }"/>
                </label>
                <div *ngIf="submitted && f['type'].errors" class="invalid-feedback">
                    <div *ngIf="f['type'].errors['required']">Tip je obvezen!</div>
                </div>
            </div>
        </div>
          <div class="form-group"   *ngIf="f['type'].value >= 0">
            <label  *ngIf="f['type'].value == 0" for="class">Razred (Primer vnosa: 7a;6b;3c)</label>
            <label  *ngIf="f['type'].value == 1" for="class">Razred (Primer vnosa: 7a)</label>
            <input type="text" formControlName="class" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['class'].errors }" />
            <div *ngIf="submitted && f['class'].errors" class="invalid-feedback">
                <div *ngIf="f['class'].errors['required']">Razred je obvezen</div>
            </div>
        </div>

          <div class="form-group">
              <button [disabled]="loading" style="background-color: rgb(25, 108, 175);" class="btn btn-primary">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  Registracija
              </button>
              <a routerLink="../login" style="color: rgb(25, 108, 175);" class="btn btn-link">Nazaj</a>
          </div>
      </form>
  </div>
</div>
