<h1 *ngIf="isAddMode"  style="color: rgb(25, 108, 175);">Dodaj ekskurzijo</h1>
<h1 *ngIf="!isAddMode"  style="color: rgb(25, 108, 175);">Uredi ekskurzijo</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col">
            <label  for="name">Naslov</label>
            <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"/>
            <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                <div *ngIf="f['name'].errors['required']">Naslov je obvezen!</div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label for="class">Razredi</label>
            <input type="text" formControlName="class" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['class'].errors }" />
            <div *ngIf="submitted && f['class'].errors" class="invalid-feedback">
                <div *ngIf="f['class'].errors['required']">Razredi so obvezni!</div>
            </div>
        </div>
        <div class="form-group col">
          <label for="n_questions">Število dovoljenih vprašanj</label>
          <input type="text" formControlName="n_questions" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['n_questions'].errors }" />
          <div *ngIf="submitted && f['n_questions'].errors" class="invalid-feedback">
              <div *ngIf="f['n_questions'].errors['required']">Število vprašanj je obvezno!</div>
          </div>
      </div>
      <div class="form-group col">
        <label for="quizes_to_solve">Število kvizov za rešit</label>
        <input type="text" formControlName="quizes_to_solve" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['quizes_to_solve'].errors }" />
        <div *ngIf="submitted && f['quizes_to_solve'].errors" class="invalid-feedback">
            <div *ngIf="f['quizes_to_solve'].errors['required']">Število kvizov je obvezno!</div>
        </div>
    </div>
    </div>
    <div class="form-row">
      <div class="form-group col">
          <label  for="summary">Opis</label>
          <input type="text" formControlName="summary" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['summary'].errors }"/>
          <div *ngIf="submitted && f['summary'].errors" class="invalid-feedback">
              <div *ngIf="f['summary'].errors['required']">Opis je obvezen!</div>
          </div>
      </div>
    </div>
    <div class="form-group">
        <button style="background-color: rgb(25, 108, 175);" [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Shrani
        </button>
        <a *ngIf="!isAddMode" style="color: rgb(25, 108, 175);" routerLink="/school_trips/{{id}}" class="btn btn-link">Nazaj</a>
        <a *ngIf="isAddMode" style="color: rgb(25, 108, 175);" routerLink="/" class="btn btn-link">Nazaj</a>
    </div>
</form>
